{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Islington Market Place</title>
  <meta name="description" content="Islington MarketPlace" />
  <meta name="keywords" content="Islington MarketPlace, Islington" />

  <meta
      property="og:image"
      content="https://mohit-bucket.s3.us-east-1.amazonaws.com/media/photos/logos/Logo1_kQwoYga.PNG"
    />

  <link
      href="https://mohit-bucket.s3.us-east-1.amazonaws.com/media/photos/favicons/favicon.ico"
      rel="shortcut icon"
      type="image/x-icon"
    />

    <!-- Open Graph for social media -->
    <meta property="og:title" content="Islington MarketPlace" />
    <meta property="og:description" content="Islington MarketPlace" />

    <!-- Boostrap5 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Boostrap JS Script-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>


    <!-- font-awesome  -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Google Fonts CSS import link. -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- custom style -->
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />

    <!-- custome js -->
     <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
  {% include 'includes/header.html' %} 
  {% block content %} 
  {% endblock %} 
  {% include 'includes/footer.html' %}
</body>
</html>